<%= form_for ([@article, @article.comments.build]) do |f| %>
	<div><%= f.text_area :content, placeholder: "Para comentar ocupas estar registrado.", style:"height: 200px;" %></div>
	<div><%= f.submit "Comentar", class: "button btn-box" %></div>
<%end%>