<div class="contenido">
	<div class="acerca-cover small-centered small-12 large-10"><%= image_tag("acerca.jpg") %></div>
		<div class="row">
			<div class="columns small-centered small-12 medium-10 acerca-p" align="center">
			<p><b class="enfasis">ZONA UNIVERSITARIA</b> <i>es una plataforma de medios de comunicación digital que ofrece servicios de interés en general para toda la comunidad universitaria.</i></p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-centered small-12">
			<div class="columns small-12 large-6 acerca" align="center">
			<h1 align="center" class="titulo-acerca"> <b>Misión</b> </h1>
			<p><i>Ofrecer el mejor servicio de medios de comunicación digital con información veraz y oportuna, contribuyendo al conocimiento y fomento de la cultura.</i></p>
			</div>
			<div class="columns small-12 large-6 acerca" align="center">
			<h1 align="center" class="titulo-acerca"> <b>Visión</b> </h1>
			<p><i>Convertirnos en el principal medio confiable más usado a nivel nacional por toda la comunidad universitaria.</i></p>
			</div>
			</div>
		</div>
</div>